# Web3 connection
NEXT_PUBLIC_RPC_ENDPOINT="https://mainnet.helius-rpc.com/?api-key=ed93fdc6-ad17-428b-8b3d-f788c0bfb11d"
# Creator 
NEXT_PUBLIC_PLATFORM_CREATOR="2cJqWSQrnd4W3BYatCv4UwrgKGarYmsWRhTLciRNh5c1"
